.email
{
    padding-top:1vh;
    position: relative; bottom: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}
.password{
    padding-top: 1vh;
    position: relative; top: 10px;
    
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}
.submit{
    padding-top: 1vh;
    position: relative; top: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}
.genmeme{
    padding-top: 1vh;
    position: relative; top: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    color: black;
    background-color: aqua;
}
.lib{
    padding-top: 1vh;
    position: relative; top: 60px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    color: rgb(147, 99, 99);
    background-color: rgb(181, 51, 51);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
.logout{
    margin-top: 100px;
    background-color: black;
}
.sign{
    background-color: rgb(231, 229, 233);
}